.empty-cart {
	background-color: var(--third-color);
	color: var(--third-color);
}

.empty-cart-text {
	color: var(--primary-color);
	font-size: 2rem;
}

.back-to-products {
	color: var(--primary-color);
	font-weight: 700;
}

.cart-product-image {
	border-radius: 8px;
	border: 0.125rem solid var(--primary-color);
}

.cart-product-image:hover {
	opacity: 0.8;
	border: 0.125rem solid var(--secondary-color);
}

.minus-one,
.plus-one {
	background-color: var(--third-color);
	border-color: var(--primary-color);
	color: var(--primary-color);
}

.minus-one:hover,
.plus-one:hover {
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
	color: var(--third-color);
}

/* Remove as setas de aumentar/diminuir do input do tipo number */
input.quantity[type="number"]::-webkit-inner-spin-button,
input.quantity[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Para Firefox */
input.quantity[type="number"] {
	-moz-appearance: textfield;
}

.btn-danger {
	background-color: var(--third-color);
	border-color: var(--primary-color);
}

.btn-danger:hover {
	background-color: var(--primary-color);
	border-color: var(--secondary-color);
}

.btn-danger:hover i {
	color: var(--third-color);
}

.checkout-form {
	background-color: var(--primary-color);
}

.checkout-form h2 {
	text-align: center;
	color: var(--third-color);
	border-bottom: 0.125rem solid var(--third-color);
}

.agree-lgpd-checkout {
	color: var(--third-color);
	border-top: 1px solid var(--third-color);
	margin: 1rem 0 0 0;
	padding-top: 1rem;
	text-align: center;
	hyphens: auto;
}

.submit-cart {
    box-shadow: inset 0 0 0 0 var(--fourth-color) !important;
	text-transform: uppercase;
}

.submit-cart.btn.btn-primary:hover {
    box-shadow: inset 600px 0 0 0 var(--primary-color) !important;
    color: var(--third-color) !important;
}