/*** Spinner Start ***/
/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

/*** Spinner End ***/

.back-to-top {
    background-color: var(--fourth-color);
    position: fixed;
    right: 30px;
    bottom: 30px;
    display: flex;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 99;
}

.back-to-top i {
    color: var(--third-color) !important;
}

.back-to-top:hover i {
    color: var(--primary-color) !important;
}

/*** Button Start ***/
.btn {
    font-weight: 600;
    transition: .5s;
}

.btn-square {
    width: 32px;
    height: 32px;
}

.btn-sm-square {
    width: 34px;
    height: 34px;
}

.btn-md-square {
    width: 44px;
    height: 44px;
}

.btn-lg-square {
    width: 56px;
    height: 56px;
}

.btn-square,
.btn-sm-square,
.btn-md-square,
.btn-lg-square {
    padding: 0;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50%;
}

.btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--secondary-color);
}

.btn.btn-primary:hover {
    box-shadow: inset 300px 0 0 0 var(--fourth-color) !important;
}

.btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--secondary-color);
}

.btn.btn-light:hover {
    box-shadow: inset 300px 0 0 0 var(--fourth-color);
    color: var(--bs-light) !important;
}

.btn-hover {
    transition: 0.5s;
}

.btn-hover:hover {
    color: var(--secondary-color) !important;
}

/*** Header ***/

header {
    padding: 5.5rem 0;
    border-bottom: 0.25rem solid var(--secondary-color);
    background-color: var(--primary-color);
}

/*** Section Title Start ***/

.hero-text {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.about::before {
    content: "";
    background-image: url('/public/img/hero-3.png');
    background-size: contain;
    position: absolute;
    /* Coloca atrás do conteúdo */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.15;
    /* Define a opacidade do fundo */
    z-index: -1;
    /* Joga a camada pra trás */
}

.about {
    position: relative;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.video-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-text {
    display: flex;
    text-align: justify;
    text-indent: 2rem;
    text-shadow: none;
    margin: 0;
    font-size: 1.25rem;
}

video {
    width: 100%;
    border-radius: 10px;
    border: 0.125rem solid var(--primary-color);
}

@media (min-width: 768px) {
    .about-content {
        gap: 3rem;
    }
}

@media (min-width: 1024px) {
    .about-content {
        gap: 3rem;
    }

    video {
        width: 90%;
    }
}

@media (min-width: 1440px) {

    .hero-text {
        width: 80%;
    }

    .about-text {
        font-size: 1.5rem;
    }

    video {
        width: 80%;
    }
}

@media (min-width: 1500px) {

    .hero-text {
        width: 80%;
    }

    video {
        width: 70%;
    }
}

.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 900px;
    margin: 0 auto;
    gap: 1rem;
}

.section-title .sub-style {
    position: relative;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-transform: uppercase;
    color: var(--bs-primary);
}

#rehab {
    padding-bottom: 1rem !important;
}

/* .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--secondary-color) !important;
}

.section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--secondary-color) !important;
} */

main {
    padding: 0 !important;
}

.main-title {
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--primary-color);
    text-align: center;
}

.sub-title {
    position: relative;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    text-transform: uppercase;
    color: var(--secondary-color);
    left: 0%;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-bottom: 1rem !important;
}

.sub-title::before {
    content: "";
    width: 40px;
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--secondary-color) !important;
}

.sub-title::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 50%;
    left: -25%;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--secondary-color) !important;
}

.innovation-subtitle::before,
.step-subtitle::before {
    content: "";
    width: 40px;
    position: absolute;
    top: 50%;
    left: -17.5%;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--secondary-color) !important;
}

.innovation-subtitle::after,
.step-subtitle::after {
    content: "";
    width: 30px;
    position: absolute;
    top: 50%;
    left: -17.5%;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--secondary-color) !important;
}

/*** Navbar ***/

.navbar {
    display: flex;
    gap: 3rem;
    height: 100%;
    padding: .5rem 1rem;
}

.navbar-nav {
    display: flex;
    gap: 3rem;
}

.navbar .nav-link {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.25rem !important;
    font-weight: 400 !important;
}

@media (min-width: 1700px) {
    .navbar .nav-link {
        font-size: 1.75rem !important;
    }
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Inter', sans-serif;
    position: relative;
    color: var(--third-color) !important;
    font-size: 16px;
    font-weight: 400;
    outline: none;
    transition: .5s;
    padding: 0 0 .5rem 0 !important;
}

.navbar-expand-lg .navbar-collapse {
    gap: 3rem !important;
}

.sticky-top.navbar-light .navbar-nav .nav-link {
    padding: 20px 0;
    color: var(--third-color) !important;
}

.navbar-light .navbar-brand img {
    max-height: 50px;
    transition: .5s;
}

.sticky-top.navbar-light .navbar-brand img {
    max-height: 45px;
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    vertical-align: middle;
    margin-left: 8px;
}

@media (min-width: 1200px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        border: 0;
        border-radius: 10px;
        transition: .5s;
        opacity: 0;
    }
}

.dropdown .dropdown-menu a:hover {
    background: var(--bs-primary);
    color: var(--bs-white);
}

.navbar .nav-item:hover .dropdown-menu {
    transform: rotateX(0deg);
    visibility: visible;
    background: var(--bs-light) !important;
    transition: .5s;
    opacity: 1;
}

@media (max-width: 1320px) {
    .sticky-top.navbar-light {
        position: relative;
        background: var(--third-color);
    }

    .navbar.navbar-expand-lg .navbar-toggler {
        padding: 10px 20px;
        border: 1px solid var(--fourth-color);
    }

    .navbar.navbar-expand-lg .navbar-toggler,
    .navbar.navbar-expand-lg .navbar-toggler span {
        color: var(--secondary-color);
        border-color: var(--third-color);
    }

    .navbar-light .navbar-collapse {
        margin-top: 15px;
        border-top: 1px solid #DDDDDD;
    }

    .navbar-light .navbar-nav .nav-link,
    .sticky-top.navbar-light .navbar-nav .nav-link {
        padding: 10px 0;
        margin-left: 0;
    }

    .navbar-nav {
        padding: 2rem 0;
    }

    .navbar-light .navbar-brand img {
        max-height: 45px;
    }
}

@media (min-width: 1320px) {
    .navbar-light {
        width: 100%;
        border-bottom: 1px solid rgba(255, 255, 255, .1);
        z-index: 999;
    }

    .sticky-top.navbar-light {
        position: fixed;
        background: var(--bs-light) !important;
    }

    .navbar-light .navbar-nav .nav-link::before {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        bottom: -1px;
        left: 50%;
        background: var(--secondary-color);
        transition: .5s;
    }

    .navbar-light .navbar-nav .nav-link:hover::before,
    .navbar-light .navbar-nav .nav-link.active::before {
        width: calc(100% - 2px);
        left: 1%;
        background-color: var(--third-color) !important;
    }

    .navbar-light .navbar-nav .nav-link.nav-contact::before {
        display: none;
    }
}

/*** Service Start ***/
.service .service-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .2);
}

.service .service-item .service-img {
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.service .service-item .service-img img {
    transition: 0.5s;
}

.service .service-item .service-img::before {
    width: 100%;
    height: 0;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
    z-index: 5;

}

.service .service-item:hover .service-img::before {
    height: 100%;
    background: rgba(21, 185, 217, .3);
}

.service .service-item .service-img:hover img {
    transform: scale(1.3);
}

.service .service-item .service-content {
    position: relative;
    z-index: 2;

}

.service .service-item .service-content::before {
    width: 100%;
    height: 8px;
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: rgba(21, 185, 217, .5);
    transition: 0.5s;
    z-index: 3;
}

.service .service-item:hover .service-content::before {
    background: rgba(21, 185, 217, .5);
    height: 100%;
}

.service .service-item .service-content .service-content-inner {
    transition: 0.5s;
}


.service .service-item:hover .service-content .service-content-inner {
    position: relative;
    color: var(--bs-white) !important;
    z-index: 9;
}

.service .service-item:hover .service-content .service-content-inner h5 {
    color: var(--bs-secondary);
}

/*** Service End ***/

/*** About Start ***/

.about .about-img .about-img-inner {
    position: absolute;
    left: 10%;
    bottom: 0;
    border: 10px solid;
    border-color: var(--bs-white) var(--bs-white) var(--bs-white) var(--bs-white);
    border-radius: 50%;
    height: 70%;
}

.container {
    padding-bottom: 0 !important;
}

.feature {
    padding: 0 0.75rem 0 0.75rem !important;
}

/*** About End ***/

/*** Feature Start ***/

.feature .feature-item {
    position: relative;
    display: flex;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item::before {
    width: 0;
    height: 100%;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item:hover::before {
    width: 100%;
    background: var(--primary-color);
}

.feature .feature-item .feature-icon {
    display: inline-flex;
    border-radius: 10px;
    transition: 0.5s;
}

.feature .feature-item:hover .feature-icon {
    position: relative;
    z-index: 2;
}

.feature .feature-item:hover .feature-content {
    position: relative;
    color: var(--primary-color);
    z-index: 2;
}

/*** Feature End ***/

/*** Appointment Start ***/
.appointment {
    background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url(../img/carousel-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.appointment .appointment-form {
    background: var(--primary-color);
}

.appointment .appointment-form .btn.btn-primary {
    box-shadow: inset 0 0 0 0 var(--fourth-color);
}

.appointment .appointment-form .btn.btn-primary:hover {
    box-shadow: inset 600px 0 0 0 var(--primary-color) !important;
    color: var(--third-color) !important;
}

/*** Appointment End ***/
.navbar.navbar-expand-lg .navbar-toggler,
.navbar.navbar-expand-lg .navbar-toggler span

/*** Team Start ***/
.team .team-item .team-img {
    position: relative;
    overflow: hidden;
}

.team .team-item .team-img::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
}

.team .team-item .team-img .team-icon {
    position: absolute;
    bottom: -125px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
}

.team .team-item .team-img:hover .team-icon {
    margin-bottom: 145px;
}

.team .team-item:hover .team-img {
    background-color: var(--third-color);
    transition: 0.5s;
}

.team .team-item .team-content {
    display: flex;
    height: 15rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    color: var(--primary-color);
    transition: 0.5s;
}

.team .team-item .team-content h5 {
    color: var(--primary-color);
    font-weight: 900;
    transition: 0.5s;
}

.team .team-item:hover .team-content h5 {
    color: var(--third-color);
}

.team .team-item:hover .team-content {
    background: var(--primary-color);
}

/* .team .team-item .team-content ul {

} */



.team .team-item:hover .team-content ul li {
    color: var(--third-color);
}

/*** Team End ***/


/*** testimonial Start ***/
.testimonial {
    background: linear-gradient(rgba(21, 185, 217, 0.9), rgba(21, 185, 217, 0.9)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.testimonial .testimonial-item .testimonial-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background: transparent;
}

.testimonial .testimonial-item .testimonial-inner .testimonial-inner-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid var(--bs-white);
}

.testimonial .testimonial-carousel.owl-carousel {
    position: relative;
}

.testimonial .testimonial-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--bs-light);
    color: var(--bs-primary);
    transition: 0.5s;
}

.testimonial .testimonial-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--bs-light);
    color: var(--bs-primary);
    transition: 0.5s;
}


.testimonial .testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial .testimonial-carousel .owl-nav .owl-next:hover {
    box-shadow: inset 100px 0 0 0 var(--bs-primary) !important;
    color: var(--bs-white) !important;
}


@media (max-width: 900px) {
    .testimonial .testimonial-carousel .owl-nav .owl-prev {
        margin-top: -190px;
        margin-left: 40px;
    }

    .testimonial .testimonial-carousel .owl-nav .owl-next {
        margin-top: -190px;
        margin-right: 40px;
    }

}

.testimonial-carousel .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.testimonial-carousel .owl-dots .owl-dot {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 15px;
    border: 1px solid var(--bs-white);
    background: transparent;
    transition: 0.5s;
}

.testimonial-carousel .owl-dots .owl-dot.active {
    width: 20px;
    height: 20px;
    background: var(--bs-secondary) !important;
}

.testimonial-carousel .owl-dots .owl-dot span {
    position: relative;
    margin-top: 50%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial-carousel .owl-dots .owl-dot span::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 1px;
    transform: translateY(-50%);
    width: 8px;
    height: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--bs-white);
}

.testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
    transition: 0.5s;
}

@media (min-width: 900px) {
    .testimonial .testimonial-carousel .testimonial-item .testimonial-inner p.fs-7 {
        font-size: 20px;
    }
}


/* Testimonial Section Title Start */
.testimonial .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.testimonial .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.testimonial .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.testimonial .section-title .sub-title::before {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.testimonial .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}

/*** Testimonial End ***/


/*** Blog Start ***/
.blog .blog-item .blog-img {
    position: relative;
    overflow: hidden;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.blog .blog-item .blog-img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    transition: 0.5s;
}

.blog .blog-item .blog-img img {
    transition: 0.5s;
}

.blog .blog-item .blog-img:hover img {
    transform: scale(1.3);
}

.blog .blog-item:hover .blog-img::after {
    background: rgba(21, 185, 217, .5);
}

.blog .blog-item .blog-centent {
    background: var(--bs-light);
    border: 1px solid var(--bs-primary);
    border-top: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/*** Blog End ***/


/*** Contact Start ***/
.contact {
    background: linear-gradient(rgba(21, 185, 217, 0.9), rgba(21, 185, 217, 0.9)), url(../img/carousel-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}


.contact .contact-form .btn.btn-light {
    box-shadow: inset 0 0 0 0 var(--bs-primary);
}

.contact .contact-form .btn.btn-light:hover {
    box-shadow: inset 600px 0 0 0 var(--secondary-color) !important;
    color: var(--bs-white) !important;
}

.contact .contact-form .form-floating input,
.contact .contact-form .form-floating textarea,
.contact .contact-form .form-floating label {
    color: var(--bs-light);
}



/* Testimonial Section Title Start */
.contact .section-title {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
}

.contact .section-title .sub-style {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-style::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-left: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-style::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 5px;
    margin-left: -50px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: var(--bs-primary);
}

.contact .section-title .sub-title::before {
    content: "";
    width: 100px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-top: 8px;
    margin-right: -100px;
    border: 1px solid var(--bs-white) !important;
}

.contact .section-title .sub-title::after {
    content: "";
    width: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    margin-bottom: 8px;
    margin-right: -50px;
    border: 1px solid var(--bs-white) !important;
}

/*** Contact End ***/


/*** Footer Start ***/

footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 0.25rem solid var(--secondary-color);
    background: var(--primary-color);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 5rem;
}

.footer-item {
    display: flex;
    gap: 1rem;
}

.footer-item i {
    display: flex;
    align-items: center;
    font-size: 1.75rem;
    color: var(--secondary-color);
}

.footer .footer-item a,
.footer-item span {
    font-size: 1.25rem;
    text-align: left;
    line-height: 35px;
    color: var(--third-color);
    transition: 0.5s;
}

.footer-item a {
    display: flex;
    align-content: center;
    gap: 0.75rem;
}

.footer .footer-item p {
    line-height: 35px;
}

.footer-line {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 !important;
    padding-top: 2rem;
}

.signature {
    display: flex;
    justify-content: space-between;
}

.signature p {
    margin: 0 !important;
    font-size: 1rem !important;
}

.signature p a {
    text-decoration: none;
    color: inherit;
}

@media screen and (max-width: 1320px) {
    footer {
        padding: 0 1.25rem !important;
        gap: 1.5rem;
    }

    .footer .footer-item a,
    .footer-item span {
        font-size: 1rem;
        color: var(--third-color);
    }

    .footer-item span {
        line-height: 1.5rem;
    }

    .footer-line {
        gap: 1rem;
    }

    .footer-social-area p {
        font-size: 1.25rem !important;
    }

    .contact-area a {
        gap: 0.75rem;
    }

    .contact-area i {
        display: flex;
        align-items: center;
    }

    .footer-item {
        padding: 0.25rem;
    }

    .signature {
        flex-direction: column;
        gap: 0.5rem;
        padding-bottom: 2rem;
    }

    .signature p {
        text-align: center;
        font-size: 0.75rem !important;
    }

    .contact-info-header {
        font-size: 1.25rem !important;
    }

    .social-btn-footer {
        padding: 1rem !important;
    }

    .social-btn-footer i {
        font-size: 1.25rem !important;
    }

}

@media screen and (min-width: 991.99px) {
    .footer {
        padding: 0 5rem 2rem 5rem !important;
        gap: 3rem;
    }
}

/*** Footer End ***/

/*** copyright Start ***/
.copyright {
    background: var(--bs-dark) !important;
}

/*** copyright end ***/

* {
    font-family: "Inter", sans-serif;
    color: var(--primary-color);
}

.icon-container {
    width: 7.125rem;
    height: 7.125rem;
    border: 0.75rem solid var(--primary-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 2rem;
    padding: 1rem;
}

.process-step:hover .icon-container {
    border-color: var(--third-color);
}

.process-icon {
    color: var(--primary-color);
    font-size: 3.5rem;
}


.appointment-form {
    padding: 2rem !important;
    border: 0.25rem solid var(--secondary-color);
}

@media screen and (max-width: 1320px) {
    .appointment-form {
        padding: 1rem !important;
    }

    .appointment-form h2 {
        font-size: 1.5rem;
    }

}

.appointment .appointment-form p {
    border-bottom: 1px solid var(--third-color);
    padding-bottom: 0.5rem;

}

.appointment .appointment-form h2,
.appointment .appointment-form p {
    text-align: center;
    color: var(--third-color);
    text-shadow: 1px 1px 2px var(--secondary-color);

}

.border-primary-input {
    border-color: var(--primary-color);
}

.border-primary-input::placeholder {
    color: var(--primary-color);
}

.why-choose-title {
    color: var(--primary-color);
    font-weight: 700;
}

.why-choose-icon {
    color: var(--primary-color);
}

.why-choose-item:hover .why-choose-icon,
.why-choose-item:hover .why-choose-text,
.why-choose-item:hover .why-choose-title {
    color: var(--third-color);
}

.why-choose-item {
    height: 22rem;
}

.why-choose-text {
    font-size: 1.165rem;
    color: var(--primary-color);
}

.why-choose-item:hover .why-choose-text {
    color: var(--third-color);
}

.rehab-list {
    display: flex;
    flex-direction: column;
    text-align: left !important;
    gap: 0.5rem;
    padding: 0 1.25rem 0 1.25rem;
    font-size: 1.075rem;
    list-style-type: disc;
    list-style-position: outside !important;
}

.team-item {
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 2rem 0 0 0;
}

.copyright-area {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}


.text-discover {
    text-shadow: none;
}

.nav-link.active {
    color: var(--secondary-color);
    /* Muda a cor do link ativo */
}

.nav-link:active .know-how {
    font-weight: 400;
    color: var(--secondary-color) !important;
}

.nav-link.active .know-how {
    color: var(--secondary-color) !important;
}

.nav-link:hover .know-how {
    color: var(--secondary-color);
}

.special-text {
    text-align: justify;
    text-shadow: none;
}

.input-number::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-number {
    -moz-appearance: textfield;
    /* Adicione aqui outros estilos personalizados */
}

.submit-contact {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bolder;
}

.footer-social-area {
    align-items: center;
}

.footer-social-area p {
    margin: 0;
}


.contact-info-header {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 0rem !important;
    font-weight: bolder;
}

.social-btn-footer {
    padding: 2rem;

}

.social-btn-area {
    gap: 1rem;
}

.social-btn-footer i {
    font-size: 2rem;
    color: var(--primary-color);
}

.social-btn-footer:hover i {
    color: var(--third-color);
}

.footer p {
    color: var(--third-color);
    text-shadow: none;
    font-size: 1.5rem;
}

.contact-area,
.footer-social-container {
    padding: 0 !important;
    margin: 0 !important;
}