@charset "UTF-8";

.products-hero {
	position: relative;
	z-index: 1;
	border-bottom: 0.125rem solid var(--primary-color);
}

.products-hero::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.5;
	z-index: -1;
	background-image: url('/img/produtos-header.png');
	background-size: cover;
	background-position: 50% 35%;
}

.products-title {
	color: var(--primary-color);
	text-shadow: .125rem .125rem .25rem var(--third-color);
	text-align: center;
	font-size: 3rem;
	margin: 0;
}



.filter-dropdown,
.product-search {
	background-color: transparent;
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

.filter-dropdown:focus,
.product-search:focus {
	outline: 1px solid var(--primary-color);
	box-shadow: none;
}

.filter-dropdown option {
	color: var(--fourth-color);
}

.filters-area {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.product-search::placeholder {
	color: var(--primary-color);
}

.product-card {
	width: 300px;
	height: 450px; /* Define uma altura fixa para os cards */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border-color: var(--fourth-color);
  }

  .card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: 1rem;
  }

.add-to-cart {
	background-color: var(--primary-color);
	color: var(--third-color) !important;
	padding: 0.5rem;
	text-transform: uppercase;
}

.card-title {
	text-align: center;
	margin: 0;
}

.product-image-area {
	flex-grow: 1; /* Faz a imagem ocupar o espaço restante */
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 0.05rem solid var(--fourth-color);
	padding: 1rem; /* Adiciona espaçamento interno */
	max-height: 300px; /* Limita a altura máxima da imagem */
  }

  .product-img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10%;
	object-fit: contain; /* Mantém a proporção da imagem */
  }